# General
/node_modules
/vendor
/tmp
/.phpunit
/.vagrant
/.db
*.log
*.bat
*.phar
*.bak

# System Files
.DS_Store
Thumbs.db

# IDE - JetBrains
/.idea

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Project
composer.lock
Vagrant.yml
bootstrap
