name: php-packages

x-project: &project
    init: true
    build: .
    volumes:
        - ./:/project
    working_dir: /project
    environment:
        LANG: C.utf8

services:
    app:
        <<: *project
        depends_on:
            setup:
                condition: service_completed_successfully
        command: |
            php -S localhost:8000 -t ./dev/public
        healthcheck:
          test: curl -f http://localhost:8000/up || exit 1
          start_period: 1m
          interval: 1m
          timeout: 10s
          retries: 3

    setup:
        <<: *project
        command: |
            sh -c '
                set -eux

                if test -f "./composer.json" -a ! -d "./vendor"; then
                    composer install
                    composer bin all install
                fi

                if test -f "./dev/composer.json" -a ! -d "./dev/vendor"; then
                    (cd ./dev && composer install)
                fi

                if test -f "./package.json" -a ! -d "./node_modules"; then
                    npm install
                fi
            '
