parameters:
    paths:
        - packages
        - dev
    excludePaths:
        - dev/bootstrap
        - dev/storage
        - dev/vendor
    scanDirectories:
        - vendor-bin/phpstan/vendor/larastan/larastan

    # The level 9 is the highest level
    level: max

    # Settings
    phpVersion: 80300
    checkMissingOverrideMethodAttribute: true
    checkMissingCallableSignature: true
    checkOctaneCompatibility: true
    checkBenevolentUnionTypes: true
    checkUninitializedProperties: true
    noEnvCallsOutsideOfConfig: true

    # Package
    classMustBeFinal:
        classes:
            - PHPUnit\Framework\TestCase
    classMustBeInternal:
        classes:
            - PHPUnit\Framework\TestCase
        ignored:
            - Tests\TestCase
            - LastDragon_ru\LaraASP\Testing\TestCase

    # Forbidden
    disallowedNamespaces:
        -
            namespace: Illuminate\Support\Facades\*
            exclude:
                - Illuminate\Support\Facades\Date
            allowIn:
                - packages/dev/src/App/*
                - packages/*/docs/*

includes:
    # Vendor
    - ./vendor-bin/phpstan/vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - ./vendor-bin/phpstan/vendor/phpstan/phpstan-mockery/extension.neon
    - ./vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/extension.neon
    - ./vendor-bin/phpstan/vendor/phpstan/phpstan-phpunit/rules.neon
    - ./vendor-bin/phpstan/vendor/phpstan/phpstan-strict-rules/rules.neon
    - ./vendor-bin/phpstan/vendor/spaze/phpstan-disallowed-calls/extension.neon
    - ./vendor-bin/phpstan/vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - ./vendor-bin/phpstan/vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - ./vendor-bin/phpstan/vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon
    - ./vendor-bin/phpstan/vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon

    # Package
    - ./vendor-bin/phpstan/larastan.neon
    - ./vendor-bin/phpstan/vendor/lastdragon-ru/lara-asp-dev/src/PhpStan/Container/extension.neon
    - ./vendor-bin/phpstan/vendor/lastdragon-ru/lara-asp-dev/src/PhpStan/ClassMustBeFinal/extension.neon
    - ./vendor-bin/phpstan/vendor/lastdragon-ru/lara-asp-dev/src/PhpStan/ClassMustBeInternal/extension.neon

    # Baseline
    - phpstan-baseline-well-known.neon
    - phpstan-baseline.neon
