parameters:
    excludePaths:
        - packages/testing/docs/Examples/TestCase.php

    ignoreErrors:
        # Unwanted strict rules
        # (is there a better way to disable them?)
        -
            message: "#does not call parent constructor from#"
            path: packages/**/*Test.php

        # Larastan doesn't support phpstan/phpstan-strict-rules
        # https://github.com/phpstan/phpstan-strict-rules/issues/140
        - "#^Dynamic call to static method Illuminate\\\\Contracts\\\\Foundation\\\\CachesConfiguration\\:\\:(configurationIsCached|routesAreCached|langPath)\\(\\)\\.$#"
        - "#^Dynamic call to static method Illuminate\\\\Contracts\\\\Foundation\\\\CachesRoutes\\:\\:routesAreCached\\(\\)\\.$#"
        - "#^Dynamic call to static method Illuminate\\\\Validation\\\\Factory\\:\\:(validate)\\(\\)\\.$#"
        - "#^Dynamic call to static method Illuminate\\\\Testing\\\\TestResponse\\<[^>]+\\>\\:\\:assert[^(]+\\(\\)\\.$#"
        - "#^Dynamic call to static method Illuminate\\\\Database\\\\Eloquent\\\\Model(\\<[^>]+\\>)?\\:\\:[^(]+\\(\\)\\.$#"
        - "#^Dynamic call to static method Illuminate\\\\Database\\\\Eloquent\\\\Builder(\\<[^>]+\\>)?\\:\\:[^(]+\\(\\)\\.$#"
        - "#^Dynamic call to static method Illuminate\\\\Container\\\\Container::forgetScopedInstances\\(\\)\\.$#"

        # Sometimes it is needed...
        # https://github.com/phpstan/phpstan/issues/3296
        -
            message: "#^Variable method call on .+?\\.$#"
            paths:
                - packages/eloquent/src/ModelHelper.php
        -
            message: "#^Variable property access on .+?\\.$#"
            paths:
                - packages/serializer/src/Normalizers/SerializableNormalizer.php

        -
            message: "#Calling putenv\\(\\) is forbidden, might overwrite existing variables\\.#"
            paths:
                - packages/documentator/src/Processor/Tasks/Preprocess/Instructions/IncludeArtisan/Instruction.php

        # False positive
        # https://github.com/nunomaduro/larastan/issues/483
        # https://github.com/nunomaduro/larastan/pull/917
        -
            message: "#^Dynamic call to static method Symfony\\\\Component\\\\HttpFoundation\\\\Response::getContent\\(\\)\\.$#"
            paths:
                - packages/testing/src/Mixins/TestResponseMixin.php

        # False positive
        # https://github.com/phpstan/phpstan-mockery/issues/34
        -
            message: "#^Creating callable from Mockery\\\\MockInterface but it might not be a callable\\.$#"
            paths:
                - packages/**/*Test.php

        # False positive
        # https://github.com/phpstan/phpstan-mockery/issues/18
        -
            message: "#^Call to protected method (getResolverRelation|getResolverModel|getResolverClass|getFieldValue)\\(\\) of class LastDragon_ru\\\\LaraASP\\\\GraphQL\\\\Stream\\\\Directives\\\\Directive\\.$#"
            paths:
                - packages/graphql/src/Stream/Directives/DirectiveTest.php
        -
            message: "#^Call to protected method getNulls\\(\\) of class LastDragon_ru\\\\LaraASP\\\\GraphQL\\\\SortBy\\\\Operators\\\\Sort\\.$#"
            paths:
                - packages/graphql/src/SortBy/Operators/SortTest.php
        -
            message: "#^Call to protected method getBuilder\\(\\) of class LastDragon_ru\\\\LaraASP\\\\GraphQL\\\\Stream\\\\Directives\\\\Directive\\.$#"
            paths:
                - packages/graphql/src/Stream/Directives/DirectiveTest.php

        # PHPStan doesn't allow use `@var` and `assert()` for `$this` inside Closure yet
        # https://github.com/phpstan/phpstan/issues/149
        # https://github.com/phpstan/phpstan/issues/8904
        # https://github.com/phpstan/phpstan/issues/11267
        -
            message: "#^PHPDoc tag @var with type Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\> is not subtype of native type \\$this\\(LastDragon_ru\\\\LaraASP\\\\Eloquent\\\\Mixins\\\\EloquentBuilderMixin\\)\\.$#"
            paths:
                - packages/eloquent/src/Mixins/EloquentBuilderMixin.php
        -
            message: "#^PHPDoc tag @var with type Illuminate\\\\Testing\\\\TestResponse\\<Symfony\\\\Component\\\\HttpFoundation\\\\Response\\> is not subtype of native type \\$this\\(LastDragon_ru\\\\LaraASP\\\\Testing\\\\Mixins\\\\TestResponseMixin\\)\\.$#"
            paths:
                - packages/testing/src/Mixins/TestResponseMixin.php

        # (dev) Required for tests
        -
            message: "#^Class `[^`]+` must be marked by `@internal`\\.$#"
            paths:
                - packages/dev/src/PhpStan/ClassMustBeInternal/RuleTest.php

        # Not supported yet (`class-string-map`)
        # https://github.com/phpstan/phpstan/discussions/11736
        # https://github.com/phpstan/phpstan/issues/9521 (?)
        -
            message: "#^Method LastDragon_ru\\\\LaraASP\\\\Documentator\\\\Processor\\\\Factory::tasks\\(\\) should return array<class-string<LastDragon_ru\\\\LaraASP\\\\Documentator\\\\Processor\\\\Contracts\\\\Task>, \\(Closure\\(LastDragon_ru\\\\LaraASP\\\\Documentator\\\\Processor\\\\Contracts\\\\Task\\): void\\)\\|null> but returns#"
            paths:
                - packages/documentator/src/Processor/Factory.php
