parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method once\\(\\) on mixed\\.$#"
			count: 1
			path: packages/core/src/Observer/DispatcherTest.php

		-
			message: "#^Parameter \\#1 \\$offset of method LastDragon_ru\\\\LaraASP\\\\Eloquent\\\\Iterators\\\\IteratorImpl\\<TItem of Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\:\\:setOffset\\(\\) expects int\\|string\\|null, mixed given\\.$#"
			count: 1
			path: packages/eloquent/src/Iterators/ChunkedChangeSafeIterator.php

		-
			message: "#^Cannot call method times\\(\\) on mixed\\.$#"
			count: 2
			path: packages/eloquent/src/Iterators/ChunkedChangeSafeIteratorTest.php

		-
			message: "#^Cannot call method once\\(\\) on mixed\\.$#"
			count: 2
			path: packages/eloquent/src/Iterators/ChunkedIteratorTest.php

		-
			message: "#^Method LastDragon_ru\\\\LaraASP\\\\Formatter\\\\Formatter\\:\\:getDefaultTimezone\\(\\) should return DateTimeZone\\|IntlTimeZone\\|string\\|null but returns mixed\\.$#"
			count: 1
			path: packages/formatter/src/Formatter.php

		-
			message: "#^Unable to resolve the template type TClass in call to method LastDragon_ru\\\\LaraASP\\\\GraphQL\\\\Utils\\\\AstManipulator\\:\\:addTypeDefinition\\(\\)$#"
			count: 1
			path: packages/graphql/src/Builder/Manipulator.php

		-
			message: "#^Unable to resolve the template type TInterface in call to method LastDragon_ru\\\\LaraASP\\\\GraphQL\\\\Utils\\\\AstManipulator\\:\\:addTypeDefinition\\(\\)$#"
			count: 1
			path: packages/graphql/src/Builder/Manipulator.php

		-
			message: "#^Property LastDragon_ru\\\\LaraASP\\\\GraphQL\\\\Builder\\\\Property\\:\\:\\$path \\(array\\<int, string\\>\\) does not accept array\\<int\\|string, string\\>\\.$#"
			count: 1
			path: packages/graphql/src/Builder/Property.php

		-
			message: "#^Parameter \\#1 \\$enum of class LastDragon_ru\\\\LaraASP\\\\GraphQL\\\\Utils\\\\Enum\\\\EnumType constructor expects class\\-string\\<LastDragon_ru\\\\LaraASP\\\\Core\\\\Enum\\>, mixed given\\.$#"
			count: 1
			path: packages/graphql/src/Provider.php

		-
			message: "#^Using nullsafe property access \"\\?\\-\\>directives\" on left side of \\?\\? is unnecessary\\. Use \\-\\> instead\\.$#"
			count: 1
			path: packages/graphql/src/SchemaPrinter/Blocks/Types/DefinitionBlock.php

		-
			message: "#^Using nullsafe property access \"\\?\\-\\>definitions\" on left side of \\?\\? is unnecessary\\. Use \\-\\> instead\\.$#"
			count: 1
			path: packages/graphql/src/SchemaPrinter/Misc/DirectiveResolver.php

		-
			message: "#^Call to an undefined method Nuwave\\\\Lighthouse\\\\Schema\\\\Directives\\\\BaseDirective\\:\\:handleBuilder\\(\\)\\.$#"
			count: 1
			path: packages/graphql/src/SearchBy/Directives/DirectiveTest.php

		-
			message: "#^Parameter \\#2 \\$operators of method LastDragon_ru\\\\LaraASP\\\\GraphQL\\\\SearchBy\\\\Scalars\\:\\:addScalar\\(\\) expects array\\<class\\-string\\<LastDragon_ru\\\\LaraASP\\\\GraphQL\\\\SearchBy\\\\Contracts\\\\Operator\\>\\>\\|string, mixed given\\.$#"
			count: 1
			path: packages/graphql/src/SearchBy/ScalarsTest.php

		-
			message: "#^Cannot call method limit\\(\\) on mixed\\.$#"
			count: 1
			path: packages/graphql/src/SortBy/Builders/Eloquent/Builder.php

		-
			message: "#^Parameter \\#2 \\$callback of method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\:\\:when\\(\\) expects \\(callable\\(Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>, mixed\\)\\: Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\|void\\)\\|null, Closure\\(Illuminate\\\\Database\\\\Eloquent\\\\Builder, string\\)\\: Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\> given\\.$#"
			count: 1
			path: packages/graphql/src/SortBy/Builders/Eloquent/Builder.php

		-
			message: "#^Parameter \\#1 \\$builder of method LastDragon_ru\\\\LaraASP\\\\GraphQL\\\\SortBy\\\\Builders\\\\Eloquent\\\\Builder\\:\\:handle\\(\\) expects Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>, Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\|Illuminate\\\\Database\\\\Query\\\\Builder given\\.$#"
			count: 1
			path: packages/graphql/src/SortBy/Builders/Eloquent/BuilderTest.php

		-
			message: "#^Parameter \\#1 \\$builder of method LastDragon_ru\\\\LaraASP\\\\GraphQL\\\\SortBy\\\\Builders\\\\Query\\\\Builder\\:\\:handle\\(\\) expects Illuminate\\\\Database\\\\Query\\\\Builder, Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\|Illuminate\\\\Database\\\\Query\\\\Builder given\\.$#"
			count: 1
			path: packages/graphql/src/SortBy/Builders/Query/BuilderTest.php

		-
			message: "#^Binary operation \"\\+\" between mixed and array\\{model\\: array\\{\\}, query\\: '', callback\\: null, queryCallback\\: null, index\\: null, wheres\\: array\\{\\}, whereIns\\: array\\{\\}, limit\\: null, \\.\\.\\.\\} results in an error\\.$#"
			count: 1
			path: packages/graphql/src/SortBy/Builders/Scout/BuilderTest.php

		-
			message: "#^Call to an undefined method Nuwave\\\\Lighthouse\\\\Schema\\\\Directives\\\\BaseDirective\\:\\:handleBuilder\\(\\)\\.$#"
			count: 1
			path: packages/graphql/src/SortBy/Directives/DirectiveTest.php

		-
			message: "#^Method LastDragon_ru\\\\LaraASP\\\\GraphQL\\\\Testing\\\\Package\\\\Models\\\\Image\\:\\:imageable\\(\\) should return Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\MorphTo\\<LastDragon_ru\\\\LaraASP\\\\GraphQL\\\\Testing\\\\Package\\\\Models\\\\Role\\|LastDragon_ru\\\\LaraASP\\\\GraphQL\\\\Testing\\\\Package\\\\Models\\\\User, LastDragon_ru\\\\LaraASP\\\\GraphQL\\\\Testing\\\\Package\\\\Models\\\\Image\\> but returns Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\MorphTo\\<Illuminate\\\\Database\\\\Eloquent\\\\Model, LastDragon_ru\\\\LaraASP\\\\GraphQL\\\\Testing\\\\Package\\\\Models\\\\Image\\>\\.$#"
			count: 1
			path: packages/graphql/src/Testing/Package/Models/Image.php

		-
			message: "#^Parameter \\#2 \\$results \\(Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int, LastDragon_ru\\\\LaraASP\\\\GraphQL\\\\Testing\\\\Package\\\\Models\\\\Concerns\\\\Model\\>\\) of method LastDragon_ru\\\\LaraASP\\\\GraphQL\\\\Testing\\\\Package\\\\Models\\\\Relations\\\\Unsupported\\:\\:match\\(\\) should be contravariant with parameter \\$results \\(Illuminate\\\\Database\\\\Eloquent\\\\Collection\\) of method Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\Relation\\<TModel of LastDragon_ru\\\\LaraASP\\\\GraphQL\\\\Testing\\\\Package\\\\Models\\\\Concerns\\\\Model\\>\\:\\:match\\(\\)$#"
			count: 1
			path: packages/graphql/src/Testing/Package/Models/Relations/Unsupported.php

		-
			message: "#^Method LastDragon_ru\\\\LaraASP\\\\GraphQL\\\\Utils\\\\AstManipulator\\:\\:getNodeDirective\\(\\) should return T of Nuwave\\\\Lighthouse\\\\Support\\\\Contracts\\\\Directive\\|null but returns mixed\\.$#"
			count: 1
			path: packages/graphql/src/Utils/AstManipulator.php

		-
			message: "#^Parameter \\#1 \\$expression of method Illuminate\\\\Console\\\\Scheduling\\\\Event\\:\\:cron\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: packages/queue/src/CronableRegistrator.php

		-
			message: "#^Parameter \\#1 \\$timezone of method Illuminate\\\\Console\\\\Scheduling\\\\Event\\:\\:timezone\\(\\) expects DateTimeZone\\|string, mixed given\\.$#"
			count: 1
			path: packages/queue/src/CronableRegistrator.php

		-
			message: "#^Access to an undefined property LastDragon_ru\\\\LaraASP\\\\Queue\\\\ProviderTest_ConfigurableQueueable\\:\\:\\$queue\\.$#"
			count: 1
			path: packages/queue/src/ProviderTest.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$configs of method LastDragon_ru\\\\LaraASP\\\\Core\\\\Utils\\\\ConfigMerger\\:\\:merge\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: packages/spa/src/Http/Controllers/SpaController.php

		-
			message: "#^Parameter \\#1 \\$array of static method Illuminate\\\\Support\\\\Arr\\:\\:get\\(\\) expects array\\|ArrayAccess, mixed given\\.$#"
			count: 1
			path: packages/spa/src/Http/Request.php

		-
			message: "#^Parameter \\#1 \\$array of static method Illuminate\\\\Support\\\\Arr\\:\\:has\\(\\) expects array\\|ArrayAccess, mixed given\\.$#"
			count: 1
			path: packages/spa/src/Http/Request.php

		-
			message: "#^Parameter \\#3 \\$path of method LastDragon_ru\\\\LaraASP\\\\Spa\\\\Http\\\\Resources\\\\Resource\\:\\:mapResourceValue\\(\\) expects array\\<string\\>, array given\\.$#"
			count: 1
			path: packages/spa/src/Http/Resources/Resource.php

		-
			message: "#^Cannot access property \\$id on mixed\\.$#"
			count: 1
			path: packages/spa/src/Routing/ResolverTest.php

		-
			message: "#^Parameter \\#1 \\$timezone of method DateTime\\:\\:setTimezone\\(\\) expects DateTimeZone, mixed given\\.$#"
			count: 1
			path: packages/spa/src/Validation/Rules/DateTimeRule.php

		-
			message: "#^Method LastDragon_ru\\\\LaraASP\\\\Spa\\\\Validation\\\\Rules\\\\Rule\\:\\:message\\(\\) should return array\\|string but returns mixed\\.$#"
			count: 1
			path: packages/spa/src/Validation/Rules/Rule.php

		-
			message: "#^Parameter \\#1 \\$callback of method Illuminate\\\\Support\\\\Collection\\<string,mixed\\>\\:\\:first\\(\\) expects \\(callable\\(mixed, string\\)\\: bool\\)\\|null, Closure\\(string, string\\)\\: bool given\\.$#"
			count: 1
			path: packages/spa/src/Validation/Rules/Rule.php

		-
			message: "#^Parameter \\#1 \\$query of method LastDragon_ru\\\\LaraASP\\\\Testing\\\\Comparators\\\\DatabaseQueryComparator\\:\\:normalize\\(\\) expects LastDragon_ru\\\\LaraASP\\\\Testing\\\\Database\\\\QueryLog\\\\Query, mixed given\\.$#"
			count: 2
			path: packages/testing/src/Comparators/DatabaseQueryComparator.php

		-
			message: "#^Parameter \\#1 \\$json of static method LastDragon_ru\\\\LaraASP\\\\Testing\\\\Utils\\\\Args\\:\\:getJson\\(\\) expects array\\|bool\\|float\\|int\\|JsonSerializable\\|SplFileInfo\\|stdClass\\|string\\|null, mixed given\\.$#"
			count: 1
			path: packages/testing/src/Constraints/Json/JsonFragmentMatchesSchema.php

		-
			message: "#^Parameter \\#1 \\$json of static method LastDragon_ru\\\\LaraASP\\\\Testing\\\\Utils\\\\Args\\:\\:getJson\\(\\) expects array\\|bool\\|float\\|int\\|JsonSerializable\\|SplFileInfo\\|stdClass\\|string\\|null, mixed given\\.$#"
			count: 2
			path: packages/testing/src/Constraints/Json/JsonMatchesFragment.php

		-
			message: "#^Parameter \\#1 \\$json of static method LastDragon_ru\\\\LaraASP\\\\Testing\\\\Utils\\\\Args\\:\\:getJson\\(\\) expects array\\|bool\\|float\\|int\\|JsonSerializable\\|SplFileInfo\\|stdClass\\|string\\|null, mixed given\\.$#"
			count: 1
			path: packages/testing/src/Constraints/Json/JsonMatchesSchema.php

		-
			message: "#^Method LastDragon_ru\\\\LaraASP\\\\Testing\\\\Constraints\\\\Response\\\\Factory\\:\\:getCache\\(\\) should return WeakMap\\<Illuminate\\\\Testing\\\\TestResponse\\|Symfony\\\\Component\\\\HttpFoundation\\\\Response, Psr\\\\Http\\\\Message\\\\ResponseInterface\\> but returns WeakMap\\<Illuminate\\\\Testing\\\\TestResponse\\|Symfony\\\\Component\\\\HttpFoundation\\\\Response, Psr\\\\Http\\\\Message\\\\ResponseInterface\\>\\|WeakMap\\<object, mixed\\>\\.$#"
			count: 1
			path: packages/testing/src/Constraints/Response/Factory.php

		-
			message: "#^Cannot call method hasHeader\\(\\) on mixed\\.$#"
			count: 1
			path: packages/testing/src/Constraints/Response/Header.php

		-
			message: "#^Parameter \\#1 \\$instances \\(Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\), Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\) of method LastDragon_ru\\\\LaraASP\\\\Testing\\\\Database\\\\Eloquent\\\\Factories\\\\Factory\\:\\:callAfterCreating\\(\\) should be contravariant with parameter \\$instances \\(Illuminate\\\\Support\\\\Collection\\) of method Illuminate\\\\Database\\\\Eloquent\\\\Factories\\\\Factory\\<TModel of Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\:\\:callAfterCreating\\(\\)$#"
			count: 1
			path: packages/testing/src/Database/Eloquent/Factories/Factory.php

		-
			message: "#^Parameter \\#2 \\$json of static method LastDragon_ru\\\\LaraASP\\\\Testing\\\\Mixins\\\\Assert\\:\\:assertJsonMatchesSchema\\(\\) expects array\\<string\\>\\|bool\\|float\\|int\\|JsonSerializable\\|SplFileInfo\\|stdClass\\|string\\|null, mixed given\\.$#"
			count: 1
			path: packages/testing/src/Mixins/TestResponseMixin.php

		-
			message: "#^Parameter \\#1 \\$items of method LastDragon_ru\\\\LaraASP\\\\Testing\\\\Providers\\\\BaseDataProvider\\:\\:replaceExpectedValues\\(\\) expects array\\<int\\|string, array\\>, array\\<T\\> given\\.$#"
			count: 1
			path: packages/testing/src/Providers/TraversableDataProvider.php

		-
			message: "#^Method LastDragon_ru\\\\LaraASP\\\\Testing\\\\Utils\\\\Args\\:\\:getJson\\(\\) should return array\\|bool\\|float\\|int\\|stdClass\\|string\\|null but returns mixed\\.$#"
			count: 1
			path: packages/testing/src/Utils/Args.php

		-
			message: "#^Parameter \\#2 \\$bindings of class LastDragon_ru\\\\LaraASP\\\\Testing\\\\Database\\\\QueryLog\\\\Query constructor expects array, mixed given\\.$#"
			count: 1
			path: packages/testing/src/Utils/Args.php

