parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Mockery\\\\LegacyMockInterface\\:\\:once\\(\\)\\.$#"
			count: 1
			path: packages/core/src/Observer/DispatcherTest.php

		-
			message: "#^Parameter \\#1 \\$dependency of class LastDragon_ru\\\\LaraASP\\\\Documentator\\\\Processor\\\\ExecutorTraversable constructor expects LastDragon_ru\\\\LaraASP\\\\Documentator\\\\Processor\\\\Contracts\\\\Dependency\\<Traversable\\<mixed, LastDragon_ru\\\\LaraASP\\\\Documentator\\\\Processor\\\\FileSystem\\\\Directory\\|LastDragon_ru\\\\LaraASP\\\\Documentator\\\\Processor\\\\FileSystem\\\\File\\>\\>, LastDragon_ru\\\\LaraASP\\\\Documentator\\\\Processor\\\\Contracts\\\\Dependency\\<\\*\\> given\\.$#"
			count: 1
			path: packages/documentator/src/Processor/Executor.php

		-
			message: "#^Parameter \\#1 \\$offset of method LastDragon_ru\\\\LaraASP\\\\Eloquent\\\\Iterators\\\\IteratorImpl\\<TItem of Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\:\\:setOffset\\(\\) expects int\\|string\\|null, mixed given\\.$#"
			count: 1
			path: packages/eloquent/src/Iterators/ChunkedChangeSafeIterator.php

		-
			message: "#^Call to an undefined method Mockery\\\\LegacyMockInterface\\:\\:times\\(\\)\\.$#"
			count: 2
			path: packages/eloquent/src/Iterators/ChunkedChangeSafeIteratorTest.php

		-
			message: "#^Call to an undefined method Mockery\\\\LegacyMockInterface\\:\\:once\\(\\)\\.$#"
			count: 2
			path: packages/eloquent/src/Iterators/ChunkedIteratorTest.php

		-
			message: "#^Variable \\$currency on left side of \\?\\?\\= always exists and is always null\\.$#"
			count: 1
			path: packages/formatter/src/Formats/IntlNumber/IntlCurrencyFormat.php

		-
			message: "#^Method LastDragon_ru\\\\LaraASP\\\\Formatter\\\\Formatter\\:\\:getDefaultTimezone\\(\\) should return DateTimeZone\\|IntlTimeZone\\|string\\|null but returns mixed\\.$#"
			count: 1
			path: packages/formatter/src/Formatter.php

		-
			message: "#^Method class@anonymous/packages/graphql/src/Stream/Directives/Directive\\.php\\:471\\:\\:enhanceEloquentBuilder\\(\\) return type with generic class Laravel\\\\Scout\\\\Builder does not specify its types\\: TModel$#"
			count: 1
			path: packages/graphql/src/Stream/Directives/Directive.php

		-
			message: "#^Parameter \\#2 \\$factory of method LastDragon_ru\\\\LaraASP\\\\Testing\\\\Testing\\\\TestCase\\:\\:override\\(\\) contains unresolvable type\\.$#"
			count: 1
			path: packages/graphql/src/Stream/Directives/DirectiveTest.php

		-
			message: "#^Method LastDragon_ru\\\\LaraASP\\\\GraphQL\\\\Stream\\\\Streams\\\\Database\\:\\:getCollection\\(\\) should return Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\), Illuminate\\\\Database\\\\Eloquent\\\\Model\\|stdClass\\> but returns Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int, Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\|Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\), Illuminate\\\\Database\\\\Eloquent\\\\Model\\|stdClass\\>\\.$#"
			count: 1
			path: packages/graphql/src/Stream/Streams/Database.php

		-
			message: "#^Property LastDragon_ru\\\\LaraASP\\\\GraphQL\\\\Stream\\\\Streams\\\\Database\\:\\:\\$collection \\(Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\), Illuminate\\\\Database\\\\Eloquent\\\\Model\\|stdClass\\>\\|null\\) does not accept Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int, Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\.$#"
			count: 1
			path: packages/graphql/src/Stream/Streams/Database.php

		-
			message: "#^Property LastDragon_ru\\\\LaraASP\\\\GraphQL\\\\Stream\\\\Streams\\\\Database\\:\\:\\$collection \\(Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\), Illuminate\\\\Database\\\\Eloquent\\\\Model\\|stdClass\\>\\|null\\) is never assigned Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\), Illuminate\\\\Database\\\\Eloquent\\\\Model\\|stdClass\\> so it can be removed from the property type\\.$#"
			count: 1
			path: packages/graphql/src/Stream/Streams/Database.php

		-
			message: "#^Static property LastDragon_ru\\\\LaraASP\\\\GraphQL\\\\Testing\\\\Package\\\\Directives\\\\ExposeBuilderDirective\\:\\:\\$result \\(Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\|Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\Relation\\<Illuminate\\\\Database\\\\Eloquent\\\\Model, covariant Illuminate\\\\Database\\\\Eloquent\\\\Model, mixed\\>\\|Illuminate\\\\Database\\\\Query\\\\Builder\\|Laravel\\\\Scout\\\\Builder\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\|null\\) does not accept Illuminate\\\\Database\\\\Eloquent\\\\Builder\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\|Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\Relation\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\|Illuminate\\\\Database\\\\Query\\\\Builder\\|Laravel\\\\Scout\\\\Builder\\.$#"
			count: 1
			path: packages/graphql/src/Testing/Package/Directives/ExposeBuilderDirective.php

		-
			message: "#^Callable callable\\(\\)\\: \\(object\\|null\\) invoked with 1 parameter, 0 required\\.$#"
			count: 3
			path: packages/serializer/src/Casts/SerializedAttributeTest.php

		-
			message: "#^Parameter \\#3 \\$path of method LastDragon_ru\\\\LaraASP\\\\Spa\\\\Http\\\\Resources\\\\Resource\\:\\:mapResourceValue\\(\\) expects array\\<string\\>, array given\\.$#"
			count: 1
			path: packages/spa/src/Http/Resources/Resource.php

		-
			message: "#^Cannot access property \\$id on mixed\\.$#"
			count: 1
			path: packages/spa/src/Routing/ResolverTest.php

		-
			message: "#^Parameter \\#1 \\$timezone of method DateTime\\:\\:setTimezone\\(\\) expects DateTimeZone, mixed given\\.$#"
			count: 1
			path: packages/spa/src/Validation/Rules/DateTimeRule.php

		-
			message: "#^Parameter \\#1 \\$query of method LastDragon_ru\\\\LaraASP\\\\Testing\\\\Comparators\\\\DatabaseQueryComparator\\:\\:normalize\\(\\) expects LastDragon_ru\\\\LaraASP\\\\Testing\\\\Database\\\\QueryLog\\\\Query, mixed given\\.$#"
			count: 2
			path: packages/testing/src/Comparators/DatabaseQueryComparator.php

		-
			message: "#^Parameter \\#1 \\$json of static method LastDragon_ru\\\\LaraASP\\\\Testing\\\\Utils\\\\Args\\:\\:getJson\\(\\) expects array\\|bool\\|float\\|int\\|JsonSerializable\\|SplFileInfo\\|stdClass\\|string\\|null, mixed given\\.$#"
			count: 1
			path: packages/testing/src/Constraints/Json/JsonFragmentMatchesSchema.php

		-
			message: "#^Parameter \\#1 \\$json of static method LastDragon_ru\\\\LaraASP\\\\Testing\\\\Utils\\\\Args\\:\\:getJson\\(\\) expects array\\|bool\\|float\\|int\\|JsonSerializable\\|SplFileInfo\\|stdClass\\|string\\|null, mixed given\\.$#"
			count: 2
			path: packages/testing/src/Constraints/Json/JsonMatchesFragment.php

		-
			message: "#^Parameter \\#1 \\$json of static method LastDragon_ru\\\\LaraASP\\\\Testing\\\\Utils\\\\Args\\:\\:getJson\\(\\) expects array\\|bool\\|float\\|int\\|JsonSerializable\\|SplFileInfo\\|stdClass\\|string\\|null, mixed given\\.$#"
			count: 1
			path: packages/testing/src/Constraints/Json/JsonMatchesSchema.php

		-
			message: "#^Parameter \\#1 \\$instances \\(Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\), Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\) of method LastDragon_ru\\\\LaraASP\\\\Testing\\\\Database\\\\Eloquent\\\\Factories\\\\Factory\\:\\:callAfterCreating\\(\\) should be contravariant with parameter \\$instances \\(Illuminate\\\\Support\\\\Collection\\) of method Illuminate\\\\Database\\\\Eloquent\\\\Factories\\\\Factory\\<TModel of Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\:\\:callAfterCreating\\(\\)$#"
			count: 1
			path: packages/testing/src/Database/Eloquent/Factories/Factory.php

		-
			message: "#^Parameter \\#2 \\$json of static method LastDragon_ru\\\\LaraASP\\\\Testing\\\\Mixins\\\\Assert\\:\\:assertJsonMatchesSchema\\(\\) expects array\\<string\\>\\|bool\\|float\\|int\\|JsonSerializable\\|SplFileInfo\\|stdClass\\|string\\|null, mixed given\\.$#"
			count: 1
			path: packages/testing/src/Mixins/TestResponseMixin.php

		-
			message: "#^Parameter \\#1 \\$items of method LastDragon_ru\\\\LaraASP\\\\Testing\\\\Providers\\\\BaseDataProvider\\:\\:replaceExpectedValues\\(\\) expects array\\<array\\>, array\\<T\\> given\\.$#"
			count: 1
			path: packages/testing/src/Providers/TraversableDataProvider.php

		-
			message: "#^Method LastDragon_ru\\\\LaraASP\\\\Testing\\\\Utils\\\\Args\\:\\:getJson\\(\\) should return array\\|bool\\|float\\|int\\|stdClass\\|string\\|null but returns mixed\\.$#"
			count: 1
			path: packages/testing/src/Utils/Args.php
