parameters:
    ignoreErrors:
        # Unwanted strict rules
        # (is there a better way to disable them?)
        - "#^Only booleans are allowed in an if condition, .+? given\\.$#"
        - "#^Only booleans are allowed in a negated boolean, .+? given\\.$#"
        - "#^Only booleans are allowed in a ternary operator condition, .+? given\\.$#"
        - "#^Only booleans are allowed in an elseif condition, .+? given\\.$#"
        - "#^Only booleans are allowed in &&, .+? given on the (left|right) side\\.$#"
        - "#^Short ternary operator is not allowed\\. Use null coalesce operator if applicable or consider using long ternary\\.$#"
        -
            message: "#does not call parent constructor from#"
            path: packages/**/*Test.php

        # Larastan doesn't support phpstan/phpstan-strict-rules
        # https://github.com/phpstan/phpstan-strict-rules/issues/140
        - "#^Dynamic call to static method Illuminate\\\\Foundation\\\\Application\\:\\:(configurationIsCached|routesAreCached|langPath)\\(\\)\\.$#"
        - "#^Dynamic call to static method Illuminate\\\\Validation\\\\Factory\\:\\:(validate)\\(\\)\\.$#"
        - "#^Dynamic call to static method Illuminate\\\\Testing\\\\TestResponse\\:\\:assert[^(]+\\(\\)\\.$#"
        - "#^Dynamic call to static method Illuminate\\\\Database\\\\Connection(\\<[^>]+\\>)?\\:\\:[^(]+\\(\\)\\.$#"
        - "#^Dynamic call to static method Illuminate\\\\Database\\\\Eloquent\\\\Model(\\<[^>]+\\>)?\\:\\:[^(]+\\(\\)\\.$#"
        - "#^Dynamic call to static method Illuminate\\\\Database\\\\Eloquent\\\\Builder(\\<[^>]+\\>)?\\:\\:[^(]+\\(\\)\\.$#"
        - "#^Dynamic call to static method Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\[^\\\\]+(\\<[^>]+\\>)?\\:\\:[^(]+\\(\\)\\.$#"

        # Sometimes it is needed...
        # https://github.com/phpstan/phpstan/issues/3296
        -
            message: "#^Variable method call on .+?\\.$#"
            paths:
                - packages/eloquent/src/ModelHelper.php
        -
            message: "#^Variable property access on .+?\\.$#"
            paths:
                - packages/queue/src/QueueableConfigurator.php

        # False positive
        # https://github.com/phpstan/phpstan/issues/5551
        -
            message: "#^Static property LastDragon_ru\\\\LaraASP\\\\Testing\\\\Constraints\\\\Response\\\\Factory::\\$cache .*? does not accept WeakMap#"
            paths:
                - packages/testing/src/Constraints/Response/Factory.php

        # False positive
        # https://github.com/nunomaduro/larastan/issues/483
        # https://github.com/nunomaduro/larastan/pull/917
        -
            message: "#^Dynamic call to static method Symfony\\\\Component\\\\HttpFoundation\\\\Response::getContent\\(\\)\\.$#"
            paths:
                - packages/testing/src/Mixins/TestResponseMixin.php

        # False positive
        # https://github.com/phpstan/phpstan-mockery/issues/34
        -
            message: "#^Parameter \\#1 \\$callback of static method Closure\\:\\:fromCallable\\(\\) expects callable\\(\\)\\: mixed, Mockery\\\\MockInterface given\\.$#"
            paths:
                - packages/**/*Test.php
                - packages/testing/src/Package/TestCase.php
                - packages/testing/src/TestCase.php

        # False positive
        # https://github.com/phpstan/phpstan/issues/5091
        -
            message: "#^Method LastDragon_ru\\\\LaraASP\\\\Testing\\\\Package\\\\TestCase::setTranslations\\(\\) has parameter \\$translations with no signature specified for callable\\.$#"
            paths:
                - packages/testing/src/Utils/WithTranslations.php
        -
            message: "#^Method LastDragon_ru\\\\LaraASP\\\\Testing\\\\Package\\\\TestCase::setTranslations\\(\\) has parameter \\$translations with no value type specified in iterable type array\\.$#"
            paths:
                - packages/testing/src/Utils/WithTranslations.php
        -
            message: "#^PHPDoc tag @param for parameter \\$translations with type LastDragon_ru\\\\LaraASP\\\\Testing\\\\Utils\\\\TranslationsFactory is not subtype of native type array\\|\\(callable\\)\\|null\\.$#"
            paths:
                - packages/testing/src/Utils/WithTranslations.php
        -
            message: "#^Parameter \\$translations of method LastDragon_ru\\\\LaraASP\\\\Testing\\\\Package\\\\TestCase::setTranslations\\(\\) has invalid type LastDragon_ru\\\\LaraASP\\\\Testing\\\\Utils\\\\TranslationsFactory\\.$#"
            paths:
                - packages/testing/src/Utils/WithTranslations.php

        # Caused by invalid return type definition of GraphQL\Type\Definition\FieldArgument::getType()
        # and probably will be fixed by upsteam.
        -
            message: "#^Parameter \\#2 \\$type of static method GraphQL\\\\Utils\\\\AST\\:\\:astFromValue\\(\\) expects GraphQL\\\\Type\\\\Definition\\\\InputType, GraphQL\\\\Type\\\\Definition\\\\Type given\\.$#"
            paths:
                - packages/graphql-printer/src/Blocks/Types/InputValueDefinitionBlock.php

        # Caused by `@property` in Interfaces
        # https://github.com/phpstan/phpstan/issues/8501
        # https://github.com/webonyx/graphql-php/pull/1255
        -
            message: "#^Access to an undefined property GraphQL\\\\Language\\\\AST\\\\FieldDefinitionNode\\|GraphQL\\\\Language\\\\AST\\\\InputValueDefinitionNode\\|GraphQL\\\\Language\\\\AST\\\\TypeDefinitionNode\\|GraphQL\\\\Type\\\\Definition\\\\FieldDefinition\\|GraphQL\\\\Type\\\\Definition\\\\InputObjectField\\|GraphQL\\\\Type\\\\Definition\\\\Type::\\$name\\.$#"
            paths:
                - packages/graphql/src/Utils/AstManipulator.php
