<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
         cacheDirectory=".phpunit/cache"
         cacheResultFile=".phpunit/result.cache"
         executionOrder="random"
         colors="true">
    <extensions>
        <bootstrap class="LastDragon_ru\LaraASP\Testing\Requirements\PhpUnit\Extension"/>
    </extensions>
    <testsuites>
        <testsuite name="dev">
            <directory suffix="Test.php">./dev/App</directory>
        </testsuite>
        <testsuite name="core">
            <directory suffix="Test.php">./packages/core/src</directory>
            <directory suffix="Test.php">./packages/core/docs</directory>
        </testsuite>
        <testsuite name="migrator">
            <directory suffix="Test.php">./packages/migrator/src</directory>
            <directory suffix="Test.php">./packages/migrator/docs</directory>
        </testsuite>
        <testsuite name="testing">
            <directory suffix="Test.php">./packages/testing/src</directory>
            <directory suffix="Test.php">./packages/testing/docs</directory>
        </testsuite>
        <testsuite name="eloquent">
            <directory suffix="Test.php">./packages/eloquent/src</directory>
            <directory suffix="Test.php">./packages/eloquent/docs</directory>
        </testsuite>
        <testsuite name="formatter">
            <directory suffix="Test.php">./packages/formatter/src</directory>
            <directory suffix="Test.php">./packages/formatter/docs</directory>
        </testsuite>
        <testsuite name="spa">
            <directory suffix="Test.php">./packages/spa/src</directory>
            <directory suffix="Test.php">./packages/spa/docs</directory>
        </testsuite>
        <testsuite name="graphql">
            <directory suffix="Test.php">./packages/graphql/src</directory>
            <directory suffix="Test.php">./packages/graphql/docs</directory>
        </testsuite>
        <testsuite name="graphql-printer">
            <directory suffix="Test.php">./packages/graphql-printer/src</directory>
            <directory suffix="Test.php">./packages/graphql-printer/docs</directory>
        </testsuite>
        <testsuite name="serializer">
            <directory suffix="Test.php">./packages/serializer/src</directory>
            <directory suffix="Test.php">./packages/serializer/docs</directory>
        </testsuite>
        <testsuite name="documentator">
            <directory suffix="Test.php">./packages/documentator/src</directory>
            <directory suffix="Test.php">./packages/documentator/docs</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./dev</directory>
            <directory suffix=".php">./packages/core/src</directory>
            <directory suffix=".php">./packages/core/docs</directory>
            <directory suffix=".php">./packages/migrator/src</directory>
            <directory suffix=".php">./packages/migrator/docs</directory>
            <directory suffix=".php">./packages/testing/src</directory>
            <directory suffix=".php">./packages/testing/docs</directory>
            <directory suffix=".php">./packages/eloquent/src</directory>
            <directory suffix=".php">./packages/eloquent/docs</directory>
            <directory suffix=".php">./packages/formatter/src</directory>
            <directory suffix=".php">./packages/formatter/docs</directory>
            <directory suffix=".php">./packages/spa/src</directory>
            <directory suffix=".php">./packages/spa/docs</directory>
            <directory suffix=".php">./packages/graphql/src</directory>
            <directory suffix=".php">./packages/graphql/docs</directory>
            <directory suffix=".php">./packages/graphql-printer/src</directory>
            <directory suffix=".php">./packages/graphql-printer/docs</directory>
            <directory suffix=".php">./packages/serializer/src</directory>
            <directory suffix=".php">./packages/serializer/docs</directory>
            <directory suffix=".php">./packages/documentator/src</directory>
            <directory suffix=".php">./packages/documentator/docs</directory>
        </include>
        <exclude>
            <directory suffix="Test.php">./dev</directory>
            <directory suffix="Test.php">./packages/core/src</directory>
            <directory suffix="Test.php">./packages/core/docs</directory>
            <directory suffix="Test.php">./packages/migrator/src</directory>
            <directory suffix="Test.php">./packages/migrator/docs</directory>
            <directory suffix="Test.php">./packages/testing/src</directory>
            <directory suffix="Test.php">./packages/testing/docs</directory>
            <directory suffix="Test.php">./packages/eloquent/src</directory>
            <directory suffix="Test.php">./packages/eloquent/docs</directory>
            <directory suffix="Test.php">./packages/formatter/src</directory>
            <directory suffix="Test.php">./packages/formatter/docs</directory>
            <directory suffix="Test.php">./packages/spa/src</directory>
            <directory suffix="Test.php">./packages/spa/docs</directory>
            <directory suffix="Test.php">./packages/graphql/src</directory>
            <directory suffix="Test.php">./packages/graphql/docs</directory>
            <directory suffix="Test.php">./packages/graphql-printer/src</directory>
            <directory suffix="Test.php">./packages/graphql-printer/docs</directory>
            <directory suffix="Test.php">./packages/serializer/src</directory>
            <directory suffix="Test.php">./packages/serializer/docs</directory>
            <directory suffix="Test.php">./packages/documentator/src</directory>
            <directory suffix="Test.php">./packages/documentator/docs</directory>
        </exclude>
    </source>
    <coverage cacheDirectory=".phpunit/coverage.cache"/>
    <php>
        <env verbatim="true" name="COLUMNS" value="120"/>
        <env verbatim="true" name="APP_KEY" value="base64:p1DLhQxuhXUCcCJ/CIfo9xKR6zMgnNXDTVstMbkivEc="/>
        <env verbatim="true" name="APP_DEBUG" value="true"/>
        <env verbatim="true" name="DB_CONNECTION" value="sqlite"/>
        <env verbatim="true" name="DB_DATABASE" value=":memory:"/>
        <env verbatim="true" name="SCOUT_DRIVER" value="null"/>
    </php>
</phpunit>
