<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.2/phpunit.xsd"
         cacheDirectory=".phpunit/cache"
         executionOrder="random"
         colors="true">
    <extensions>
        <bootstrap class="LastDragon_ru\LaraASP\Testing\Requirements\PhpUnit\Extension"/>
    </extensions>
    <testsuites>
        <testsuite name="lara-asp-core">
            <directory suffix="Test.php">./packages/lara-asp-core/src</directory>
            <directory suffix="Test.php">./packages/lara-asp-core/docs</directory>
        </testsuite>
        <testsuite name="lara-asp-dev">
            <directory suffix="Test.php">./packages/lara-asp-dev/src</directory>
            <directory suffix="Test.php">./packages/lara-asp-dev/docs</directory>
        </testsuite>
        <testsuite name="lara-asp-migrator">
            <directory suffix="Test.php">./packages/lara-asp-migrator/src</directory>
            <directory suffix="Test.php">./packages/lara-asp-migrator/docs</directory>
        </testsuite>
        <testsuite name="testing">
            <directory suffix="Test.php">./packages/testing/src</directory>
            <directory suffix="Test.php">./packages/testing/docs</directory>
        </testsuite>
        <testsuite name="lara-asp-eloquent">
            <directory suffix="Test.php">./packages/lara-asp-eloquent/src</directory>
            <directory suffix="Test.php">./packages/lara-asp-eloquent/docs</directory>
        </testsuite>
        <testsuite name="lara-asp-formatter">
            <directory suffix="Test.php">./packages/lara-asp-formatter/src</directory>
            <directory suffix="Test.php">./packages/lara-asp-formatter/docs</directory>
        </testsuite>
        <testsuite name="spa">
            <directory suffix="Test.php">./packages/spa/src</directory>
            <directory suffix="Test.php">./packages/spa/docs</directory>
        </testsuite>
        <testsuite name="lara-asp-graphql">
            <directory suffix="Test.php">./packages/lara-asp-graphql/src</directory>
            <directory suffix="Test.php">./packages/lara-asp-graphql/docs</directory>
        </testsuite>
        <testsuite name="lara-asp-graphql-testing">
            <directory suffix="Test.php">./packages/lara-asp-graphql-testing/src</directory>
            <directory suffix="Test.php">./packages/lara-asp-graphql-testing/docs</directory>
        </testsuite>
        <testsuite name="graphql-printer">
            <directory suffix="Test.php">./packages/graphql-printer/src</directory>
            <directory suffix="Test.php">./packages/graphql-printer/docs</directory>
        </testsuite>
        <testsuite name="graphql-printer-testing">
            <directory suffix="Test.php">./packages/graphql-printer-testing/src</directory>
            <directory suffix="Test.php">./packages/graphql-printer-testing/docs</directory>
        </testsuite>
        <testsuite name="lara-asp-serializer">
            <directory suffix="Test.php">./packages/lara-asp-serializer/src</directory>
            <directory suffix="Test.php">./packages/lara-asp-serializer/docs</directory>
        </testsuite>
        <testsuite name="lara-asp-documentator">
            <directory suffix="Test.php">./packages/lara-asp-documentator/src</directory>
            <directory suffix="Test.php">./packages/lara-asp-documentator/docs</directory>
        </testsuite>
        <testsuite name="text-parser">
            <directory suffix="Test.php">./packages/text-parser/src</directory>
            <directory suffix="Test.php">./packages/text-parser/docs</directory>
        </testsuite>
        <testsuite name="glob-matcher">
            <directory suffix="Test.php">./packages/glob-matcher/src</directory>
            <directory suffix="Test.php">./packages/glob-matcher/docs</directory>
        </testsuite>
        <testsuite name="path">
            <directory suffix="Test.php">./packages/path/src</directory>
            <directory suffix="Test.php">./packages/path/docs</directory>
        </testsuite>
    </testsuites>
    <source ignoreIndirectDeprecations="true">
        <include>
            <directory suffix=".php">./packages/lara-asp-core/src</directory>
            <directory suffix=".php">./packages/lara-asp-core/docs</directory>
            <directory suffix=".php">./packages/lara-asp-dev/src</directory>
            <directory suffix=".php">./packages/lara-asp-dev/docs</directory>
            <directory suffix=".php">./packages/lara-asp-migrator/src</directory>
            <directory suffix=".php">./packages/lara-asp-migrator/docs</directory>
            <directory suffix=".php">./packages/testing/src</directory>
            <directory suffix=".php">./packages/testing/docs</directory>
            <directory suffix=".php">./packages/lara-asp-eloquent/src</directory>
            <directory suffix=".php">./packages/lara-asp-eloquent/docs</directory>
            <directory suffix=".php">./packages/lara-asp-formatter/src</directory>
            <directory suffix=".php">./packages/lara-asp-formatter/docs</directory>
            <directory suffix=".php">./packages/spa/src</directory>
            <directory suffix=".php">./packages/spa/docs</directory>
            <directory suffix=".php">./packages/lara-asp-graphql/src</directory>
            <directory suffix=".php">./packages/lara-asp-graphql/docs</directory>
            <directory suffix=".php">./packages/lara-asp-graphql-testing/src</directory>
            <directory suffix=".php">./packages/lara-asp-graphql-testing/docs</directory>
            <directory suffix=".php">./packages/graphql-printer/src</directory>
            <directory suffix=".php">./packages/graphql-printer/docs</directory>
            <directory suffix=".php">./packages/graphql-printer-testing/src</directory>
            <directory suffix=".php">./packages/graphql-printer-testing/docs</directory>
            <directory suffix=".php">./packages/lara-asp-serializer/src</directory>
            <directory suffix=".php">./packages/lara-asp-serializer/docs</directory>
            <directory suffix=".php">./packages/lara-asp-documentator/src</directory>
            <directory suffix=".php">./packages/lara-asp-documentator/docs</directory>
            <directory suffix=".php">./packages/text-parser/src</directory>
            <directory suffix=".php">./packages/text-parser/docs</directory>
            <directory suffix=".php">./packages/glob-matcher/src</directory>
            <directory suffix=".php">./packages/glob-matcher/docs</directory>
            <directory suffix=".php">./packages/path/src</directory>
            <directory suffix=".php">./packages/path/docs</directory>
        </include>
        <exclude>
            <directory suffix="Test.php">./packages/lara-asp-core/src</directory>
            <directory suffix="Test.php">./packages/lara-asp-core/docs</directory>
            <directory suffix="Test.php">./packages/lara-asp-dev/src</directory>
            <directory suffix="Test.php">./packages/lara-asp-dev/docs</directory>
            <directory suffix="Test.php">./packages/lara-asp-migrator/src</directory>
            <directory suffix="Test.php">./packages/lara-asp-migrator/docs</directory>
            <directory suffix="Test.php">./packages/testing/src</directory>
            <directory suffix="Test.php">./packages/testing/docs</directory>
            <directory suffix="Test.php">./packages/lara-asp-eloquent/src</directory>
            <directory suffix="Test.php">./packages/lara-asp-eloquent/docs</directory>
            <directory suffix="Test.php">./packages/lara-asp-formatter/src</directory>
            <directory suffix="Test.php">./packages/lara-asp-formatter/docs</directory>
            <directory suffix="Test.php">./packages/spa/src</directory>
            <directory suffix="Test.php">./packages/spa/docs</directory>
            <directory suffix="Test.php">./packages/lara-asp-graphql/src</directory>
            <directory suffix="Test.php">./packages/lara-asp-graphql/docs</directory>
            <directory suffix="Test.php">./packages/lara-asp-graphql-testing/src</directory>
            <directory suffix="Test.php">./packages/lara-asp-graphql-testing/docs</directory>
            <directory suffix="Test.php">./packages/graphql-printer/src</directory>
            <directory suffix="Test.php">./packages/graphql-printer/docs</directory>
            <directory suffix="Test.php">./packages/graphql-printer-testing/src</directory>
            <directory suffix="Test.php">./packages/graphql-printer-testing/docs</directory>
            <directory suffix="Test.php">./packages/lara-asp-serializer/src</directory>
            <directory suffix="Test.php">./packages/lara-asp-serializer/docs</directory>
            <directory suffix="Test.php">./packages/lara-asp-documentator/src</directory>
            <directory suffix="Test.php">./packages/lara-asp-documentator/docs</directory>
            <directory suffix="Test.php">./packages/text-parser/src</directory>
            <directory suffix="Test.php">./packages/text-parser/docs</directory>
            <directory suffix="Test.php">./packages/glob-matcher/src</directory>
            <directory suffix="Test.php">./packages/glob-matcher/docs</directory>
            <directory suffix="Test.php">./packages/path/src</directory>
            <directory suffix="Test.php">./packages/path/docs</directory>
        </exclude>
    </source>
    <php>
        <env verbatim="true" name="COLUMNS" value="120"/>
        <env verbatim="true" name="APP_KEY" value="base64:p1DLhQxuhXUCcCJ/CIfo9xKR6zMgnNXDTVstMbkivEc="/>
        <env verbatim="true" name="APP_DEBUG" value="true"/>
        <env verbatim="true" name="DB_CONNECTION" value="sqlite"/>
        <env verbatim="true" name="DB_DATABASE" value=":memory:"/>
        <env verbatim="true" name="SCOUT_DRIVER" value="null"/>
    </php>
</phpunit>
