<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         cacheResultFile=".phpunit/result.cache"
         executionOrder="random"
         colors="true"
>
    <testsuites>
        <testsuite name="lastdragon-ru/lara-asp-core">
            <directory suffix="Test.php">./packages/core/src</directory>
        </testsuite>
        <testsuite name="lastdragon-ru/lara-asp-migrator">
            <directory suffix="Test.php">./packages/migrator/src</directory>
        </testsuite>
        <testsuite name="lastdragon-ru/lara-asp-queue">
            <directory suffix="Test.php">./packages/queue/src</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true" cacheDirectory=".phpunit/code-coverage">
        <include>
            <directory suffix=".php">./packages/core/src</directory>
            <directory suffix=".php">./packages/migrator/src</directory>
            <directory suffix=".php">./packages/queue/src</directory>
        </include>
        <exclude>
            <directory suffix="Test.php">./packages/core/src</directory>
            <directory suffix="Test.php">./packages/migrator/src</directory>
            <directory suffix="Test.php">./packages/queue/src</directory>
        </exclude>
    </coverage>
</phpunit>
