name: Continuous Delivery

on:
  push:
    branches:
      - 'main'
      - '[0-9]+.x'
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  sync-packages:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: peter-evans/repository-dispatch@v4
        with:
          event-type: sync-packages
